.bs-callout-info h1, .bs-callout-info h2 {
    font-size:24px
}

.bs-callout-info img {
    /*margin: 5px;*/
    max-width: 100%;
}

.clear {
    clear: both;
}

core-toolbar {
    background-color: rgb(79, 125, 201);
}

.list-group {
    display: inline-block;
    background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}

core-header-panel[drawer] {
    background-color: rgb(255, 255, 255);
}

.menu-toggle {
    float: left;
    color: #ffffff;
}

.menu {
    padding: 0;
    margin: 16px 0;
}

.menu paper-item {
    font-size: 14px;
}

.menu .fav {
    margin: 2px 3px;
    min-width: 14px;
    height: 14px;
}

.menu .close {
    min-width: 14px;
}

.card {
    background: white;
    box-sizing: border-box;
    margin: 16px;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}

.pages {
    position: relative;
    top: 90px;
    right: 0;
    padding: 0;
	overflow: hidden;
}

.button paper-icon-button {
    margin-top: 5px;
    color: white;
}

.button, .title {
    float: left;
}

.title h4 {
    color:white;
    margin: 16px 0;
}

.modal-backdrop {
	position: fixed !important;
	height: 100% !important;
	width: 100% !important;
}

.spinner-container {
    display: none;
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.spinner-container .wrapper {
	display:flex;
	width:100%;
	height:100%;
	-webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
   -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.search {
    width: 100%;
}

.search core-tooltip {
    width: 100%;
    display: block;
}

.search paper-input {
    width: 100%;
    color: white;
}

.search paper-input /deep/ ::-webkit-input-placeholder {
    color: lightgray;
}

.search paper-input /deep/ ::-moz-placeholder {
    color: lightgray;
}

.search paper-input /deep/ :-ms-input-placeholder {
    color: lightgray;
}

.search paper-input /deep/ .label-text,
.search paper-input /deep/ .error {
    color: lightgray;
}

.search paper-input /deep/ .unfocused-underline {
    background-color: lightgray;
}

.search paper-icon-button {
    color: white;
}

.search .results {
    background-color: white;
    font-size: 14px;
    display: none;
    width: 500px;
    overflow-y: auto;
    top: 51px;
    position: absolute;
    z-index: 999;
}

.results .feed {
    padding:5px;
    cursor: pointer;
}

.results .feed:hover {
    background-color: #f5f5f5;
}