<h4 class="text-primary">
        <img class="fav" height='16' width='16' src= 'http://favicon.yandex.ru/favicon/<%= hostname %>' >
        <%= model.get('title') %>
</h4>
<div class="bs-callout-info">
    <%= model.get('contentSnippet') %>
</div>
<div class="clear"></div>