<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск лент" data-toggle="popover" data-content="Воспользуйтесь поиском, для добавления лент">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="mdi-action-search"></i></button>
        </span>
    </div>
</div>
<div class="well results">
</div>