<div class="form-group search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск лент">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="mdi-action-search"></i></button>
        </span>
    </div>
</div>