<link href="./bower_components/core-field/core-field.html" rel="import">
<link href="./bower_components/core-tooltip/core-tooltip.html" rel="import">
<link href="./bower_components/paper-input/paper-input.html" rel="import">
<link href="./bower_components/paper-icon-button/paper-icon-button.html" rel="import">
<core-field center horizontal layout>
    <paper-input label="Поиск лент"></paper-input>
    <paper-icon-button class="hover search-btn" icon="search" title="search"></paper-icon-button>
</core-field>
<core-tooltip label="Воспользуйтесь поиском, для добавления лент" tabindex="0" role="tooltip" position="bottom"></core-tooltip>
<div class="col-md-3 well results">
</div>