<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск лент" data-content="Воспользуйтесь поиском, для добавления лент">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <span class="input-group-btn">
            <button class="btn btn-primary search-button" type="button"><i class="mdi-action-search"></i></button>
        </span>
    </div>
</div>
<div class="col-md-3 well results">
</div>