<div class="card">
<h4 class="list-group-item-heading">
    <a class="showPost" href="<%= model.get('link') %>" target="_blank">
        <%= model.get('title') %>
    </a>
</h4>
<div class="bs-callout-info">
    <%= model.get('content') %>
</div>
  <% _.each(model.get('categories'), function(category) { %>
  <span class="label label-primary"><%= category %></span>
  <% }); %>
<div class="clear"></div>
</div>