<h4 class="list-group-item-heading">
    <a class="showPost" href="javascript:void(0)">
        <img class="fav" height='16' width='16' src= 'http://favicon.yandex.ru/favicon/<%= hostname %>' >
        <%= model.get('title') %>
    </a>
</h4>
<div class="bs-callout-info">
    <%= model.get('content') %>
</div>
  <% _.each(model.get('categories'), function(category) { %>
  <span class="label label-primary"><%= category %></span>
  <% }); %>
<div class="clear"></div>